@{
    this.Layout = null;
    
    ViewBag.Title = "Mobile Dating App";
}

<html>
<head>
    <title>Mobile Dating App</title>
</head>
<body>
    <h1>Mobile Dating App API</h1>

    This page is not intended to access by browser.
</body>
</html>